#wrapper {
width: 100%;
float: left;
margin-top: 50px;
}

.block {
width: 33%;
float: left;
}

#dht22 {
width: 100%;
float: left;
clear: left;
margin-top: 50px;
}

.gauge {
     width: auto;
     height: 300px;
     display: inline-block;
     border: 1px solid #ccc;
     margin: 5px;
 }
