#wrapper {
width: 100%;
float: left;
margin-top: 50px;
}

.block {
width: 100%;

}

#dht22 {
width: 100%;
float: left;
clear: left;
margin-top: 50px;
}

.gauge {
     width: 33%;
     height: 300px
     float: left;
     margin: 5px;
 }
